<ul id="order-items">
  <div class="box-row" id="box">
    <h4 class="text-center"><i class="fas fa-box-open"></i> "<%= compare_min_volume_with_available_boxes(@order)[0][1][:name] %>"</h4>
    <p><%= item_placement(give_item_positions(compare_min_volume_with_available_boxes(@order)[1], @order)) %></p>
  </div>
  <% @order.order_items.each do |item| %>
    <li class="d-flex align-items-center">
      <div class="d-flex justify-content-around align-items-center">
        <img src="<%= item.image_url %>" alt="" height="50" class="mr-2">
        <p class="medium mr-1">1x </p>
        <p class="medium mr-1"><%= item.title %></p>
        <p class="light-text small"><%= item.sku %></p>
      </div>
      <div class="d-flex">
        <p class="medium mr-1">Picked?</p>
        <input class="mr-2" type="checkbox">
      </div>

    </li>
  <% end %>
</ul>



<!-- Box to pick:
<br>
<%= compare_min_volume_with_available_boxes(@order)[0] %>
<br>
<br> -->
<!-- Where to position the items:
<br>
<%= give_item_positions(compare_min_volume_with_available_boxes(@order)[1], @order) %>
 -->


<% box_chosen = compare_min_volume_with_available_boxes(@order)[0][1][:dimensions][0...-1] %>
<%# xy_items = get_xy_coors(compare_min_volume_with_available_boxes(@order)[1]) %>
<%#= give_item_positions(compare_min_volume_with_available_boxes(@order)[1], @order) %>

<%#= get_xy_coors(compare_min_volume_with_available_boxes(@order)[1], @order).flatten %>
<%
  array = [{ name: "Chosen Box", data: [box_chosen] }]
  get_xy_coors(compare_min_volume_with_available_boxes(@order)[1], @order).each do |item|
    array << item
  end
  chart_content = array
%>

<%= scatter_chart chart_content, xmin: 0, ymin: 0, xmax: box_chosen[0], ymax: box_chosen[1] %>

<%# <%= scatter_chart give_item_positions(compare_min_volume_with_available_boxes(@order)[1], @order).map{|x| x[1][0...-1]}, download: true %>

